.venv/
__pycache__/
*.pyc
.ruff_cache/
.mypy_cache/
.pytest_cache/
.python-version
.DS_Store
data/raw/
data/curated/
data/metrics/
data/output/
data/staging/
*.duckdb
*.duckdb.wal
.env
.envrc
notebooks/.ipynb_checkpoints/
